:root {
  /* --bgColor: #1F2833;
  --mainColor: #66FCF1;
  --secondColor: rgb(69,162,158);
  --headerColor: #27313d; */
  --bgColor: #212121;
  --headerColor: #323232;
  --headerColorLowOpacity: #323232e5;
  --secondColor: #fa7d09af;
  --mainColor: #f9a825;


}
  *  {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing:border-box;
      scroll-behavior: smooth;
  }

  body {
      background-color: var(--bgColor);
      /* color: #C5C6C7; */
      color: #ffffff;
      font-family: 'Montserrat';
  }

  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 5%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    transition: 0.2s;
      /* background: linear-gradient(0deg, rgba(31,40,51,1) 0%, rgba(69,162,158,1) 100%); */
      box-shadow: 0 0 10px -4px black;
      background-color: var(--headerColorLowOpacity);
      /* height: 80px; */
  }

  .hide {
    transition: 0.2s;
    top: -80px;
  }

  .nav_links {
    list-style: none;
    display: flex;
  }

  .nav_links a,
  .cta,
  .overlay_content a {
    font-weight: 500;
    text-decoration: none;
  }

  .nav_links li {
    padding: 0px 30px;
    cursor: pointer;
  }

  .nav_links li:hover a {
    color: #f9a825;
  }

  header button {
    z-index: 1;
    margin: 0 15px;
  }

  header button:hover:after {
    z-index: -1;
  }

  .menu {
    display: none;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--headerColor);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }

  .overlay-active {
    width: 100%;
  }

  .overlay_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .overlay div a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    color: var(--mainColor);
    white-space: nowrap;
    cursor: pointer;
  }

  .landingPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
  }

  .welcome {
    display: flex;
    flex-basis: calc(50% - 40px);
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }

  h1 {
      margin-top: 80px;
      margin-left: 20px;
      padding: 20px;
  }

  .hello {
      font-size: 30px;
      font-weight: normal;
      color: var(--mainColor);
  }

  .name {
      color: #ffffff;
      font-size: 72px;
  }

  .desc {
      font-weight: normal;
  }

  .ham {
      display: none;
  }

  .photo {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
  }

  .photo img {
      border-radius: 100%;
      width: 300px;
      box-shadow: 0 0 10px -2px black;;
  }

  .links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-basis: calc(50% - 40px);
    margin-bottom: 100px;
    margin-top: 50px;
  }

  .linklist {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .links a {
    padding: 10px;
    opacity: 0.6;
  }

  .links a:hover {
    opacity: 1;
  }

  .links a img {
    width: 60px;
  }

  .links a span{
    margin-left: 20px;
  }

  a:link {
    text-decoration: none;
    color: #d1d1d1;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  #mailLink img {
    width: 68px !important;
    transform: translateY(5px);
  }



  .typewriterContainer {
    position: relative;
    top: 50%;
  }

  .typewriterLine {
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    font-family:  'Montserrat', monospace;
    letter-spacing: 2px;
    overflow: hidden;transform: translateY(-50%);
  }


  .emailLine {
    cursor: pointer;
    width: 16em;
    margin: 0;
    font-size: 97%;
    text-align: center;
    white-space: nowrap;
    font-family:  'Montserrat';
    transform: translateY(-50%);
  }

  .sendEmailImg {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 16em;
    top: -33px;
    width: 30px;
    position: relative;
    opacity: 0.6;
  }

  .typewriterContainer:hover .sendEmailImg{
    opacity: 1;
  }


.typewriter {
    display: none;
}

@keyframes typewriter3em {
  from {
        width: 0;
  }
  to {
        width: 3.8em;
  }
}

@keyframes typewriter4em {
    from {
          width: 0;
    }
    to {
          width: 4.2em;
    }
}

@keyframes typewriter5em {
  from {
    width: 0;
}
to {
    width: 5em;
}
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}

  .buttons {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: horizontal;
    align-self: flex-start;
    margin-top: 40px;
  }

  .buttons button {
    width: 376px;
  }

  button {
    position: relative;
    margin: 15px;
    width: 195px;
    padding: 15px;
    border: none;
    background-color: transparent;
    background-image: none;
    border: 2px solid;
    border-image: linear-gradient(
      135deg,
      var(--mainColor) 0%,
      var(--secondColor) 100%
    );
    border-image-slice: 1;
    font-family: 'Montserrat';
    color: var(--mainColor);
    border-radius: 3px;
    overflow: hidden;
    transition: 0.4s all ease;
  }

  button:hover {
    cursor: pointer;
    color: black;
    transition: 0.3s all ease;
  }

  button:after{
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    bottom: 0;
    opacity: 0;
    content: "";
      background: linear-gradient(
      135deg,
      var(--mainColor) 0%,
      var(--secondColor) 100%
    );
  }

  button:hover:after {
    transition: 0.2s all ease;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 1;
    z-index: -1;
  }

  .aboutBtn:nth-child(2) {
    width: 70px;
  }

  .custom-shape-divider-bottom-1645026081 {
    position: absolute;
    top: -29px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1645026081 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
  }

  .custom-shape-divider-bottom-1645026081 .shape-fill {
    fill: var(--mainColor);
  }
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    position: absolute;
    top: calc(100vh - 20px);
    background-color: var(--mainColor);
    color: black;
    font-size: 30px;
    justify-content: center;
  }

  .about h2 {
    padding-top: 60px;
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .introduce {
    margin-bottom: 60px !important;
  }

  .about span {
    color: white;
  }

  .about ul{
    font-size: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-image: url("./img/list.png");
    margin-bottom: 50px;
    margin: 20px;
  }

  .about ul li {
    padding: 10px;
  }

  .aboutMe {
    margin: 0 200px;
  }

  .aboutMe p {
    margin-top: -50px;
    font-size: 24px;
  }

  .projects {
    margin: 100px 0 0 0;
    background-color: var(--secondColor);
    color: black;
    width: 100%;
    padding-bottom: 50px;
  }

  .projects .custom-shape-divider-bottom-1645026081 {
    position: relative;
    top: -29px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .projects .custom-shape-divider-bottom-1645026081 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
  }

  .projects .custom-shape-divider-bottom-1645026081 .shape-fill {
    fill: var(--secondColor);
  }

  .projectGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    margin: 100px;
  }

  .projectContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 100px auto 50px auto;
    transform: translateX(-100px);
  }

  .projectList {
    display: flex;
  }

  .selector  {
    background: transparent;
    color: var(--secondColor);
    list-style: none;
    font-size: 18px;
  }

  .selector p {
    width: 200px;
    padding: 20px 10px;
    background-color: var(--bgColor);
    box-shadow: 0 0 20px -5px black;
    opacity: 0.9;
    transform: translateX(10px);
    transition: .2s;
  }

  .selector p:hover {
    opacity: 1;
    cursor: pointer;
  }

  #firstProject {
    border-top-left-radius: 8px;
  }

  .selector p:last-of-type {
    border-bottom-left-radius: 8px;
  }

  .selected {
    transform: unset !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    opacity: 1 !important;
  }

  .project {
    background-color: #323437;
    color: #e2b714;
    padding: 20px;
    box-shadow: 0 0 20px -5px black;
    border-radius: 0 8px 8px 8px;
    z-index: 1;
  }

  .project .preview {
    width: 100%;
    box-shadow: 0 0 10px -2px black;
  }

  .project .technologies {
    color: #e2b714;
    font-size: 20px;
  }

  .project .technologies p span {
    color: #646669;
    font-size: 28px;
  }

  #project2 {
    display: none;
  }

  .project_title {
    font-size: 38px;
  }

  .project_subtitle {
    color: #646669;
    font-size: 20px;
  }

  .project_paragraph {
    color: white;
    font-size: 20px;
  }

  .project_links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .project_links a {
    display: flex;
    padding: 10px;
    opacity: 0.6;
  }

  .project_links a:hover {
    opacity: 1;
  }

  .project_links a img {
    width: 50px;
  }

  .videoImg {
    width: 65px !important;
  }

  .contactMe {
    background-color: #323437;
    color: var(--mainColor);
    width: 100%;
    padding-bottom: 120px;
  }

  .contactMe button {
    margin-top: 40px;
    z-index: 1;
  }

  .contactMe .custom-shape-divider-bottom-1645026081 {
    position: relative;
    top: -29px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .contactMe .custom-shape-divider-bottom-1645026081 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
  }

  .contactMe .custom-shape-divider-bottom-1645026081 .shape-fill {
    fill: #323437;
  }

  .emailContact {
    color: #646669;
    text-align: center;
  }

  footer {
    background-color: var(--bgColor);
    color: white;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }


/* Mobile */
@media (max-width: 1000px){

  header {
      height: 80px;
  }

  .landingPage {
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }

  .hello {
      font-size: 20px;
  }

  .name {
      font-size: 48px;
  }

  .hamRotate.active {
      transform: rotate(45deg);
    }

    .line {
      fill:none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke:var(--mainColor);
      stroke-width:5.5;
      stroke-linecap:round;
    }

  .ham {
    display: block;
    z-index: 10;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }

  .photo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .photo img {
      border-radius: 100%;
      width: 250px;
      box-shadow: 0 0 10px -2px black;;
  }

  .links {
    margin-top: 40px;
    flex-direction: column;
  }

  .links a {
    height: 100px;
  }

  a:link {
    text-decoration: none;
    color: #d1d1d1;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  .buttons {
    display: none;
    flex-direction: horizontal;
    justify-content: space-between;
    align-self: center;
  }


  button {
    margin: 10px;
    margin-top: 50px;
    width: 130px;
    padding: 10px;
  }

  .about {
    position: relative;
    top: 0;
    font-size: 20px;

  }

  .aboutMe{
    margin: 50px;
  }

  .about ul li {
    font-size: 16px;
  }

  .nav_links {
    display: none;
  }

  .menu {
    display: initial;
  }

  .typewriterLine {
    display: none !important;
  }

  .projectContainer {
    width: 90%;
    transform: none;
    z-index: 0;
  }

  .project {
    border-radius: 8px;
    margin-bottom: 50px;
  }

  .projectList {
    flex-wrap: wrap;
  }

}

  @media (max-height: 850px) and (min-width: 1000px){
    .welcome {
      margin-top: 0;
    }
  }

  @media (max-height: 750px) and (min-width: 1000px){
    .hello {
      font-size: 20px;
    }

    .name {
      font-size: 48px;
    }

    .desc {
      font-size: 100%;
    }

    .photo img {
      width: 250px;
    }

    button{
      width: 130px;
      padding: 10px;
    }

    .links{
      transform: scale(0.85);
    }
  }

  @media (max-height: 650px) and (min-width: 1000px){
    .welcome {
      margin-top: -25px;
    }
    .photo {
      margin-top: 20px;
    }
    .links{
      transform: scale(0.8);
      margin-top: -40px;
    }
  }

  @media (max-height: 600px) and (min-width: 1000px){
    .welcome {
      margin-top: -50px;
    }
    .photo {
      margin-top: 0;
    }
    .links{
      transform: scale(0.8);
      margin-top: -50px;
    }
  }
